.header {
  background: #b71775;
  height: 200px;
  display: flex;
  flex-direction: row;
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

ul {
    display: inline-block;
    float: right;
}